<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
id="WebApp_ID" version="2.5">
  <display-name>onlinebuscas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
            /WEB-INF/applicationContext.xml
        </param-value>
  </context-param>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>bootstrap</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <security-constraint>
    <display-name>Bloqueia o browser de acessar arquivos xhtml</display-name>
    <web-resource-collection>
      <web-resource-name>xhtml files</web-resource-name>
      <url-pattern>*.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
  <servlet>
    <servlet-name>ExecutaRelatorioCadastroEmpresa</servlet-name>
    <servlet-class>br.com.onlinebuscas.relatorios.ExecutaRelatorioCadastroEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutaRelatorioCadastroEmpresa</servlet-name>
    <url-pattern>/ExecutaRelatorioCadastroEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExecutaRelatorioCadastroPlano</servlet-name>
    <servlet-class>br.com.onlinebuscas.relatorios.ExecutaRelatorioCadastroPlano</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutaRelatorioCadastroPlano</servlet-name>
    <url-pattern>/ExecutaRelatorioCadastroPlano</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExecutaRelatorioCadastroUsuarios</servlet-name>
    <servlet-class>br.com.onlinebuscas.relatorios.ExecutaRelatorioCadastroUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutaRelatorioCadastroUsuarios</servlet-name>
    <url-pattern>/ExecutaRelatorioCadastroUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
</web-app>